.control {
    margin-bottom: 0.5rem;
  }

.control label {
    font-weight: bolder;
    margin-bottom: 0.25rem;
    display: block;
    color: yellow;
}
  
.control input {
    font: inherit;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 20rem;
    max-width: 100%;
    color: magenta;
  }


.invalid label {
    color: #ca3e51;
  }
  
.invalid input {
    border-color: #aa0b20;
    background-color: #ffeff1;
    color: red
  }

  .backgroundImage {
    background-image: url("/src/images/night-palm-trees.jpg");
   background-size: cover;
    height: 87vh;
    width: 100vw;
    overflow: hidden;
    padding: 0.5rem;
    border-radius: 5px;
  }

  .notValid{
    color: red;
    font-size: 24pt;
  }
  