.sorting{
    padding: 2rem;
    border-bottom: 3px solid #b2d4d4;
}
.vacations {
    background: magenta;
    padding: 0.5em;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 8px yellow;
    align-items: flex-start;
    overflow: hidden;
} 